/*General Rules*/

body,
#app {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	min-height: 100vh;
	background-image: url(images/grass2.png);
}

#app > .view {
	width: 100%;
	height: 100vh;
}

.view > .header {
	height: 20%;
	width: 100%;
}

.view > .title {
	height: 10%;
	width: 100%;
}

.view > .content {
	height: 50%;
	width: 100%;
}

.view > .nav {
	height: 20%;
	width: 100%;
}
/*Home Rules*/

.home > .content {
	overflow: scroll;
}

.home > .header > img {
	width: 25%;
}

.home > .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home > .header > back {
	width: 20%;
	font-family: 'Open Sans', sans-serif;
}

.home > .title {
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.home > .content  {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
}

.home > .nav {
	font-family: 'Open Sans', sans-serif;
}

.home > .nav > button {
	width: 33.3%;
	height: 100%;
	background-color: limegreen;
	/*	border: 1px solid #bbb;*/
	color: white;
}


/*Teamselection Rules*/

.team-selection > .content {
	overflow: scroll;
}

.team-selection > .header > img {
	width: 25%;
}

.team-selection > .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.team-selection > .header > back {
	width: 20%;
	font-family: 'Open Sans', sans-serif;
}

.team-selection > .title {
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.team-selection > .content > .steps {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}

.team-selection > .content > .steps > button {
	height: 15%;
	/*	border-radius: 7px;*/
	border: 1px solid #bbb;
}

.team-selection > .nav {
	font-family: 'Open Sans', sans-serif;
}

.team-selection > .nav > button {
	width: 33.3%;
	height: 100%;
	background-color: limegreen;
	/*	border: 1px solid #bbb;*/
	color: white;
}

/*Teamschedule Rules*/

.team-schedule > .content {
	overflow: scroll;
}

.team-schedule > .header > img {
	width: 25%;
}

.team-schedule > .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.team-schedule > .header > back {
	width: 20%;
	font-family: 'Open Sans', sans-serif;
}

.team-schedule > .title {
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.team-schedule > .content {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: white;
}

.team-schedule > .content > table {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.team-schedule > .nav {
	font-family: 'Open Sans', sans-serif;
}

.team-schedule > .nav > button {
	width: 33.3%;
	height: 100%;
	background-color: limegreen;
	/*	border: 1px solid #bbb;*/
	color: white;
}

/*Locationselection Rules*/

.location-selection > .content {
	overflow: scroll;
}

.location-selection > .header > img {
	width: 25%;
}

.location-selection > .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.location-selection > .header > back {
	width: 20%;
	font-family: 'Open Sans', sans-serif;
}

.location-selection > .title {
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.location-selection > .content > .steps {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}

.location-selection > .content > .steps > button {
	height: 15%;
	/*	border-radius: 7px;*/
	border: 1px solid #bbb;
}

.location-selection > .nav {
	font-family: 'Open Sans', sans-serif;
}

.location-selection > .nav > button {
	width: 33.3%;
	height: 100%;
	background-color: limegreen;
	/*	border: 1px solid #bbb;*/
	color: white;
}

/*LocationIframes Rules*/

.location-iframe > .content {
	overflow: scroll;
}

.location-iframe > .header > img {
	width: 25%;
}

.location-iframe > .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.location-iframe > .header > back {
	width: 20%;
	font-family: 'Open Sans', sans-serif;
}

.location-iframe > .title {
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.location-iframe > .content {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: center;
}

.location-iframe > .nav {
	font-family: 'Open Sans', sans-serif;
}

.location-iframe > .nav > button {
	width: 33.3%;
	height: 100%;
	background-color: limegreen;
	/*	border: 1px solid #bbb;*/
	color: white;
}

/*Chat Rules*/

.chat > .content {
	overflow: scroll;
}

.chat > .header > img {
	width: 25%;
}

.chat > .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chat > .header > back {
	width: 20%;
	font-family: 'Open Sans', sans-serif;
}

.chat > .title {
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

chat > .content {
	font-family: 'Open Sans', sans-serif;
}

.chat > .nav {
	font-family: 'Open Sans', sans-serif;
}

.chat > .nav > button {
	width: 33.3%;
	height: 100%;
	background-color: limegreen;
	/*	border: 1px solid #bbb;*/
	color: white;
}

















/*
.top {
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.back {
	border: solid 1px #720000;
	17 background-color: #c72a2a;
	18 background: -moz-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
	19 background: -webkit-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
	20 background: -o-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
	21 background: -ms-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
	22 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e0e0e', endColorstr='#9e0e0e', GradientType=0);
	23 background: linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
	24 -webkit-box-shadow: 0px 0px 1px #FF3300, inset 0px 0px 1px #FFFFFF;
	25 -moz-box-shadow: 0px 0px 1px #FF3300, inset 0px 0px 1px #FFFFFF;
	26 box-shadow: 0px 0px 1px #FF3300, inset 0px 0px 1px #FFFFFF;
	27
}


.image1 {
	width: 20%;
}

.game {
	font-family: 'Open Sans', sans-serif, cursive;
}

.middle-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.steps {
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	width: 100%;
	border-radius: 7px;
	border: 1px solid #bbb;

}

.steps button {
	width: 100%;
	font-size: 20px;
	border-radius: 7px;
	border: 1px solid #bbb;
	margin-bottom: 10px;
	margin-top: 10px;

}

.bottom button {
	font-size: 26px;
	font-family: 'Open Sans', sans-serif, cursive;
	text-decoration: none;
	white-space: nowrap;
	color: #555;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
	border-radius: 7px;
	height: 70px;
}

.game {
	text-align: center;
}
*/
