body,
#app {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	min-height: 100vh;
	background-image: url(images/grass2.png);
}

#app > .view {
	width: 100%;
	height: 100vh;
}

.view > .header {
	height: 15%;
	width: 100%;
}

.view > .title {
	height: 10%;
	width: 100%;
}

.view > .content {
	height: 60%;
	width: 100%;
}

.view > .nav {
	height: 15%;
	width: 100%;
}

.home > .content {
	overflow: scroll;
}

.home > .header > img {
	width: 25%;
	margin-left: 5%;
}

.home > .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home > .title {
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.home > .content {
	display: flex;
	justify-content: center;
}

.home > .content > img {
	width: 70%;
	height: 75%;
	margin-top: 8%;
}

.home > .nav {
	font-family: 'Open Sans', sans-serif;
}

.home > .nav > button {
	width: 33.3%;
	height: 100%;
	background-color: limegreen;
	color: white;
	font-weight: bold;
}

.team-selection > .content {
	overflow: scroll;
}

.team-selection > .header > img {
	width: 25%;
	margin-right: 5%;
}

.team-selection > .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button, {
	text-transform: none;
	overflow: visible;
	font-family: inherit;
    font-size: inherit;
    line-height: inherit;
	margin-left: 5%;
	border-radius: 0;
	box-sizing: border-box;
	}

.team-selection > .title {
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.team-selection > .content > .steps {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-weight: bold;
}

.team-selection > .content > .steps > button {
	height: 13%;
	border: 1px solid #bbb;
}

.team-selection > .nav {
	font-family: 'Open Sans', sans-serif;
}

.team-selection > .nav > button {
	width: 33.3%;
	height: 100%;
	background-color: limegreen;
	color: white;
	font-weight: bold;
}

.team-schedule > .content {
	overflow: scroll;
}

.team-schedule > .header > img {
	width: 25%;
	margin-right: 5%;
}

.team-schedule > .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*
.team-schedule > .header > back {
	width: 20%;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
*/

.team-schedule > .title {
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.team-schedule > .content {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: white;
}

.team-schedule > .content > table {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	table-layout: fixed;
}

.team-schedule > .nav {
	font-family: 'Open Sans', sans-serif;
}

.team-schedule > .nav > button {
	width: 33.3%;
	height: 100%;
	background-color: limegreen;
		color: white;
	font-weight: bold;
}

.location-selection > .content {
	overflow: scroll;
}

.location-selection > .header > img {
	width: 25%;
	margin-right: 5%;
}

.location-selection > .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*
.location-selection > .header > back {
	width: 20%;
	font-family: 'Open Sans', sans-serif;
	font font-weight: bold;
}
*/

.location-selection > .title {
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.location-selection > .content > .steps {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-weight: bold;
}

.location-selection > .content > .steps > button {
	height: 15%;
	/*	border-radius: 7px;*/
	border: 1px solid #bbb;
}

.location-selection > .nav {
	font-family: 'Open Sans', sans-serif;
}

.location-selection > .nav > button {
	width: 33.3%;
	height: 100%;
	background-color: limegreen;
	font-weight: bold;
	color: white;
}

.location-iframe > .content {
	overflow: scroll;
}

.location-iframe > .header > img {
	width: 25%;
	margin-right: 5%;
}

.location-iframe > .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*
.location-iframe > .header > back {
	width: 20%;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
*/

.location-iframe > .title {
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.location-iframe > .content {
	display: flex;
	justify-content: center;
}

.location-iframe > .nav {
	font-family: 'Open Sans', sans-serif;
}

.location-iframe > .nav > button {
	width: 33.3%;
	height: 100%;
	background-color: limegreen;
		color: white;
	font-weight: bold;
}


.chat > .header > img {
	width: 25%;
	margin-right: 5%;
}

.chat > .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*
.chat > .header > back {
	width: 20%;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
*/

.chat > .title {
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.nav {
	font-family: 'Open Sans', sans-serif;
	height: 20%;
}

.nav > button {
	width: 33.3%;
	height: 100%;
	background-color: limegreen;
	font-weight: bold;
	color: white;
}

body {
	margin: 0;
}

#body {
	width: 100%;
	height: 60vh;
	font-family: 'Indie Flower', cursive;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button#logout {
	background: #00d1b2;
	border-radius: 25px;
	border-style: none;
	padding: 5px 7px;
}

.login-logout {
	display: flex;
}

.chat-window {
	padding-top: 50px;
	/*	background: #c5c6e2;*/
	background: #d6d6c2;
	width: 300px;
	height: 300px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	margin: 20px;
}

.text-div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.each-post {
	min-width: 260px;
	max-width: 300px;
	width: fit-content;
	border-radius: 25px;
	margin: 0 20px;
	margin-bottom: 15px;

}

.username-image {
	padding-top: 5px;
	width: 100%;
	height: 40%;
	display: flex;
	margin-bottom: 5px;
}

.username-image > .username {
	width: 70%;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

.username-image > .image {
	width: #0%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.username-image > .image > img {
	width: 50px;
	height: 50px;
	border-radius: 75px;
}

.post-text {
	padding: 0 5% 5px 5%;
	word-break: break-all;
}

.hostpost {
	align-self: flex-end;
	background: #4bf442;
	}

.otherpost {
	align-self: flex-start;
	background: #b8f441;
	}

.otherpost .username {
	order: 1;
}

.submit-div {
	width: 450px;
}

.submit-div > input {
	border-radius: 25px;
	border-style: ridge;
	border-color: blanchedalmond;
	width: 55%;
	margin-left: 15%;
	margin-right: 5%;
}

button#submit {
	background: #00d1b2;
	border-radius: 25px;
	border-style: none;
	padding: 5px 7px;
	margin-bottom: 1%;
}


@media screen and (orientation: landscape) {


	.view > .header {
		display: none;
	}

	.view > .title {
		height: 10%;
		width: 100%;
	}

	h1 {
		font-size: 2.3rem;
	}

	.view > .content {
		height: 75%;
		width: 100%;
	}

	.view > #body {
		height: 75%;
		width: 100%;
	}

	.view > .nav {
		height: 15%;
		width: 100%;
	}

	.home > .title {
		text-align: center;
		font-weight: bold;
		font-family: 'Open Sans', sans-serif;
		color: white;
	}

	.home > .content > img {
		width: 30%;
		height: 70%;
		margin-top: 5%;
	}

	.home > .content {
		display: flex;
		justify-content: center;
	}

	.team-selection > .content > .steps > button {
		height: 12%;
	}

	.team-schedule > .content > table {
		align-items: center;
		font-size: 110%;
	}

	.location-selection > .content > .steps > button {
		height: 14%;
	}

	iframe {
		width: 80%
	}

	.login-logout {
		margin-left: -80%;
	}

	.chat-window {
		width: 400px;
		height: 310px;
	}

	button#submit {
		margin-bottom: 1%;
		border-radius: 20px;
		padding: 7px 5px;
		width: 12%;
		margin-left: 10%;
	}

	.submit-div {
		width: 550px;
	}

	.submit-div > input {
		margin-left: 20%;
		margin-right: 2%;
	}

	button#logout {
		height: 3%;
	}

	.each-post {
		min-width: 290px;
		max-width: 330px;
	}

}
